/*@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');*/

.pignose-calendar .pignose-calendar-top {
    padding: 16px 0;
    color: #444;
    font-size: 12px;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 600;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    width: 100%;
    height: 10%;
    padding: 5px 0;

}
.pignose-calendar {
    width: 100%;
    max-width: 360px;
}
.pignose-calendar .pignose-calendar-header {
    padding: 0 1.2em;
    margin-top: 0;
    font-weight: 600;
    overflow: hidden;
}
.pignose-calendar .pignose-calendar-header{color: rgba(0,0,0,.87);}
.pignose-calendar .pignose-calendar-body {
    padding:0 10px;
}
.pignose-calendar .pignose-calendar-unit {
    height: 2.4em;
}
.pignose-calendar .pignose-calendar-unit a {
    color: #49c4d0 !important;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, 
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a {
    color: #fa4832 !important;
}
